.form-btn,
.load-more {
  margin-left: 15px;
  padding: 6px 30px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: #212121;
  background-color: #f5f4fa;
}

.load-more {
  display: flex;
  margin: 30px auto;
  align-items: center;
}

.form-btn:hover,
.load-more:hover {
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%),
    0px 2px 2px rgb(0 0 0 / 12%);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}
